 <div class="container mt-4">


    <div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
         You loved the <%= @dish.name %> at...  
         <div class="badge badge-primary float-right">
            <%= @dish.cuisine.name %>
          </div>
        </div>
        <ul class="list-group">  
          
        <li class="list-group-item">
              <form action="/create_bookmark" class="form-inline float-left" method="post">
              <input type="hidden" id="notes" name="notes" placeholder = "notes" class="form-control" value = "">
              <input type="hidden" id="user_id" name="user_id" placeholder = "User" class="form-control" value = "<%= current_user.id %>">
              <input type="hidden" id="dish_id" name="dish_id" placeholder = "Dish" class="form-control" value = "<%= @dish.id %>">
              <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name ), :class => "form-control") %>
              <button class="btn btn-primary btn">
              <i class="fa fa-heart"></i>
              </button>
              </form> 
             <small class="float-right text-muted">
             right now 
             </small>
        </li>
          
       
           <% @bookmark.each do |bookmark| %>
              <li class="list-group-item">
              <a href="/venues/<%= bookmark.venue_id %>">
                <%= Venue.find(bookmark.venue_id).name %>
              </a>
              
                <small class="float-right text-muted">
                <%= time_ago_in_words(bookmark.created_at) %> ago
                <a href="/bookmarks/<%= bookmark.id%>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>

                <a href="/delete_bookmark/<%= bookmark.id%>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              </small>
              </li>
           <% end %>
            </small>

        </a>
      </div>
      </ul>
      <div class="card-footer text-center">
        <a href="/venues" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
      </li>
    
  </div>
</div>