<div class="page-header">
  <h1>Bookmarks </h1>
</div>
  <div class="row div class">
    <div class="col-md-2"> 
    <%= search_form_for @q, :class => "collapse", :id => "venues_filter" do |f| %>
      <p class="lead">Narrow results:</p>
      
      
       <div class="form-group">
        <%= f.label :venue_name_cont, "Name contains" %>
        <%= f.text_field :venue_name_cont, :class => "form-control", :placeholder => "Name contains" %>
      </div>
      
       <div class="form-group">
        <%= f.label :dish_name_cont, "Bookmarked dish name contains" %>
        <%= f.text_field :dish_name_cont, :class => "form-control", :placeholder => "Bookmarked dish name contains" %>
      </div>
      
      
       <div class="form-group">
        <%= f.label :venue_neighborhood_name_cont, "Neighborhood name contains" %>
        <%= f.text_field :venue_neighborhood_name_cont, :class => "form-control", :placeholder => "Neighborhood name contains" %>
      </div>
      
      
      
      <div class="form-group">
      </div>
      
      
    <div class="form-group">
    </div>
      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>
      <a href="/venues" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#venues_filter">
      Show Filters
    </a>
  </div>
   
  <div class="col-md-8"> 
    <table class="table table-hover">
      <tr>
        <th>Places you've bookmarked</th>
        <th></th>
      </tr>
      
      <% @bookmarks.each do |bookmark| %>
       <tr>
       <th><a href="venues/<%= bookmark.venue.id %>"><%= bookmark.venue.name %></a></th> 
       <th><%= bookmark.venue.neighborhood.name %>, <%= bookmark.venue.neighborhood.city %></th>
      </tr>
      <% end %>
     
    </table>

  </div>
  <div class="col-md-2">  <a href="/venues/new" class="btn btn-md btn-success">Add a new venue</a></div>

</div>